* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 95%);
  --fg: hsl(var(--hue), 90%, 5%);
  --trans-dur: 0.3s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

body {
  background-color: #040e24;
  color: var(--fg);
  font: 1em/1.5 sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  transition: background-color var(--trans-dur);
}

.totle-questions-no {
  color: #a0a0a0 !important;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.start-text-message-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tart-text-message p {
  color: white;
  padding: 0 74px;
  margin-bottom: 50px;
  text-align: center;
}

.aiSpeackAnim,
.voiceLoader-container,
.reAttemptAnim-wrapper,
.success-checkmark {
  height: 240px;
  width: 260px;
}

.emoji-icons {
  font-size: 14px;
}

.errorPop-up {
  font-size: 15px;
  padding: 4px 14px;
  overflow: hidden;
  text-align: center;
  height: 25px;
  animation-name: errorPop;
  animation-duration: 0.3s;
  color: #03A9F4;
}


@keyframes errorPop {
  0% {
    height: 0px;
  }

  100% {
    height: 25px;
  }
}

.voise-animation-wraper,
.success-checkmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disable-btn {
  background: #eeeeee3b !important;
  cursor: not-allowed !important;
  color: #c5c5c5cc !important;
}

.main-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.control-btn-wraper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}


.voiceLoader-container {
  /* padding: 1.5em 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}



.ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}

.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}

.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }

  .ip__track {
    stroke: hsl(var(--hue), 90%, 15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }

  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }

  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }

  50% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -358;
  }
}




.aiSpeackAnim {
  display: flex;
  justify-content: center;
  align-items: center;

}

.aiSpeackAnim-bar {
  background: #6c55b6;
  bottom: 1px;
  height: 3px;
  width: 10px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 3s linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }

  100% {
    opacity: 1;
    height: 70px;
  }
}

.aiSpeackAnim-bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}

.aiSpeackAnim-bar:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}

.aiSpeackAnim-bar:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}

.aiSpeackAnim-bar:nth-child(4) {
  left: 43px;
  animation-duration: 458ms;
}

.aiSpeackAnim-bar:nth-child(5) {
  left: 57px;
  animation-duration: 400ms;
}

.aiSpeackAnim-bar:nth-child(6) {
  left: 71px;
  animation-duration: 427ms;
}

.aiSpeackAnim-bar:nth-child(7) {
  left: 85px;
  animation-duration: 441ms;
}

.aiSpeackAnim-bar:nth-child(8) {
  left: 99px;
  animation-duration: 419ms;
}

.aiSpeackAnim-bar:nth-child(9) {
  left: 113px;
  animation-duration: 487ms;
}

.aiSpeackAnim-bar:nth-child(10) {
  left: 127px;
  animation-duration: 442ms;
}



.success-checkmark {

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #FFFFFF;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4CAF50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, .5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #FFFFFF;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.loop-wrapper img {
  width: 100px;
  height: 100px;
}

.loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 240px;

}



.submitedGif {
  display: flex;
  justify-content: center;
}

.start-button,
.submited-download button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 209px;
  min-width: 200px;
  padding: 16px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.start-button:active,
button:hover {
  outline: 0;
}

.start-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.start-button:hover span {
  background: none;
}

.start-button:active {
  transform: scale(0.9);
}


.control-btn-wraper button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5742f3 50%, #655a8a);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #e9e9e9;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 1em;
  max-width: 100px;
  min-width: 100px;
  padding: 6px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.control-btn-wraper button:active,
.control-btn-wraper button:hover {
  outline: 0;
}

.control-btn-wraper button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.control-btn-wraper button:hover span {
  background: none;
}

.control-btn-wraper button:active {
  transform: scale(0.9);
}

.text-message-info {
  color: #9a9898;
  text-align: center;
}


.wave-text span {
  display: inline-block;
  font-size: 28px;
  animation: wave 1s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}

.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }
}
